In [1]:
import os
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import json
from pandas.io.json import json_normalize
import missingno as msno
from sklearn.preprocessing import StandardScaler
from pandasql import sqldf
# from sklearn.metrics import mean_squared_error
# from sklearn import linear_model, neighbors, tree, svm, ensemble
# from xgboost import XGBRegressor
# from sklearn.pipeline import make_pipeline
# from tpot.builtins import StackingEstimator
# from sklearn.model_selection import KFold
# from sklearn.model_selection import cross_val_score
# from sklearn.grid_search import GridSearchCV
# from sklearn.pipeline import Pipeline
# from scipy.stats import boxcox
# from scipy.special import inv_boxcox
# pd.options.display.html.table_schema = False
# pd.options.display.max_rows = None

def q(q): return sqldf(q, globals())

In [3]:
# ETL

JSON_COLUMNS = ['device', 'geoNetwork', 'totals', 'trafficSource']
df = pd.read_csv('data/train.csv',
                 converters={column: json.loads for column in JSON_COLUMNS},
                 dtype={'fullVisitorId': 'str'},
                 nrows=5000)
building_df = pd.DataFrame()
for index, row in df.iterrows():
    temp_dfs = []
    for column in JSON_COLUMNS:
        temp_df = json_normalize(row[column])
        temp_df.columns = ["{}.{}".format(
            column, subcolumn) for subcolumn in temp_df.columns]
        temp_dfs.append(temp_df)
    final_temp_df = pd.concat(temp_dfs, axis=1)
    building_df = pd.concat([building_df, final_temp_df], ignore_index=True)
df.drop(JSON_COLUMNS, axis=1, inplace=True)
df = pd.concat([df, building_df], axis=1)
df.head()

df['totals.transactionRevenue'] = df['totals.transactionRevenue'].fillna(0)
for column in ['totals.bounces', 'totals.hits', 'totals.newVisits', 'totals.pageviews', 'totals.transactionRevenue', 'totals.visits']:
    df[column] = pd.to_numeric(df[column], errors="coerce")

df.to_csv('tables/_normalized_check.csv')

df.columns

Index(['channelGrouping', 'date', 'fullVisitorId', 'sessionId',
       'socialEngagementType', 'visitId', 'visitNumber', 'visitStartTime',
       'device.browser', 'device.browserSize', 'device.browserVersion',
       'device.deviceCategory', 'device.flashVersion', 'device.isMobile',
       'device.language', 'device.mobileDeviceBranding',
       'device.mobileDeviceInfo', 'device.mobileDeviceMarketingName',
       'device.mobileDeviceModel', 'device.mobileInputSelector',
       'device.operatingSystem', 'device.operatingSystemVersion',
       'device.screenColors', 'device.screenResolution', 'geoNetwork.city',
       'geoNetwork.cityId', 'geoNetwork.continent', 'geoNetwork.country',
       'geoNetwork.latitude', 'geoNetwork.longitude', 'geoNetwork.metro',
       'geoNetwork.networkDomain', 'geoNetwork.networkLocation',
       'geoNetwork.region', 'geoNetwork.subContinent', 'totals.bounces',
       'totals.hits', 'totals.newVisits', 'totals.pageviews',
       'totals.transactionRevenue', 'totals.visits', 'trafficSource.adContent',
       'trafficSource.adwordsClickInfo.adNetworkType',
       'trafficSource.adwordsClickInfo.criteriaParameters',
       'trafficSource.adwordsClickInfo.gclId',
       'trafficSource.adwordsClickInfo.isVideoAd',
       'trafficSource.adwordsClickInfo.page',
       'trafficSource.adwordsClickInfo.slot', 'trafficSource.campaign',
       'trafficSource.isTrueDirect', 'trafficSource.keyword',
       'trafficSource.medium', 'trafficSource.referralPath',
       'trafficSource.source'],
      dtype='object')

In [29]:
target_name = 'totals.transactionRevenue'
feature_names = ['totals.hits', 'totals.pageviews', 'trafficSource.source', 'geoNetwork.country',
'geoNetwork.city', ]


q("""
SELECT 
    a.`totals.hits` AS hits
  , a.`totals.pageviews` AS page_views
  , a.`trafficSource.source` AS traffic_source
  , a.`geoNetwork.country` AS country
  , a.`geoNetwork.city` AS city
  , a.`geoNetwork.networkDomain` AS network_domain
  , a.`geoNetwork.region` AS region
  , b.month_unique_user_count
  , c.hits_per_network_domain
  , c.mean_hits_per_network_domain
  , c.mean_page_views_per_network_domain
  , d.day_unique_user_count
  , d.mean_hits_per_day
  
from df a
INNER JOIN
    (
    SELECT 
        SUBSTR(date, 0, 5) year 
      , CAST(SUBSTR(date, 5, 2) AS int) month
      , COUNT(distinct fullVisitorId) AS month_unique_user_count
    FROM df
    GROUP BY 1,2
    ) b ON b.year = SUBSTR(a.date, 0, 5)
       AND b.month = CAST(SUBSTR(a.date, 5, 2) AS int)
INNER JOIN
    (
    SELECT
        `geoNetwork.networkDomain`
      , SUM(`totals.hits`) AS hits_per_network_domain        
      , AVG(`totals.hits`) AS mean_hits_per_network_domain
      , AVG(`totals.pageviews`) AS mean_page_views_per_network_domain      
    FROM df
    GROUP BY 1
    ) c ON c.`geoNetwork.networkDomain` = a.`geoNetwork.networkDomain`
INNER JOIN
    (
    SELECT 
        date
      , COUNT(distinct fullVisitorId) AS day_unique_user_count
      , AVG(`totals.hits`) AS mean_hits_per_day
    FROM df
    GROUP BY 1
    ) d ON d.date = a.date

""")

,totals.hits,totals.pageviews,trafficSource.source,geoNetwork.country,geoNetwork.city,geoNetwork.networkDomain,geoNetwork.region,month_unique_user_count,mean_hits_per_network_domain,day_unique_user_count,mean_hits_per_day
0,1,1,google,(not set),(not set),(not set),(not set),2432,7.199697,2432,5.355147
1,2,2,analytics.google.com,(not set),(not set),(not set),(not set),2432,7.199697,2432,5.355147
2,1,1,youtube.com,Bosnia & Herzegovina,(not set),(not set),(not set),2432,7.199697,2432,5.355147
3,18,10,mall.googleplex.com,Hong Kong,(not set),(not set),(not set),2432,7.199697,2432,5.355147
4,12,7,(direct),Singapore,(not set),(not set),(not set),2432,7.199697,2432,5.355147
5,1,1,l.facebook.com,United States,(not set),(not set),(not set),2432,7.199697,2432,5.355147
6,1,1,l.facebook.com,United States,(not set),(not set),(not set),2432,7.199697,2432,5.355147
7,1,1,google,Netherlands,Amsterdam,(not set),North Holland,2432,7.199697,2432,5.355147
8,1,1,google,Netherlands,Amsterdam,(not set),North Holland,2432,7.199697,2432,5.355147
9,1,1,google,Netherlands,Amsterdam,(not set),North Holland,2432,7.199697,2432,5.355147
10,1,1,google,United States,Ann Arbor,(not set),Michigan,2432,7.199697,2432,5.355147
11,4,4,mall.googleplex.com,United States,Ann Arbor,(not set),Michigan,2432,7.199697,2432,5.355147
12,5,4,mall.googleplex.com,United States,Ann Arbor,(not set),Michigan,2432,7.199697,2432,5.355147
13,11,11,(direct),United States,Ann Arbor,(not set),Michigan,2432,7.199697,2432,5.355147
14,21,17,mail.google.com,United States,Ann Arbor,(not set),Michigan,2432,7.199697,2432,5.355147
15,37,24,(direct),United States,Ann Arbor,(not set),Michigan,2432,7.199697,2432,5.355147
16,1,1,(direct),United States,Austin,(not set),Texas,2432,7.199697,2432,5.355147
17,1,1,google,United States,Austin,(not set),Texas,2432,7.199697,2432,5.355147
18,2,2,google,United States,Austin,(not set),Texas,2432,7.199697,2432,5.355147
19,7,7,google,United States,Austin,(not set),Texas,2432,7.199697,2432,5.355147
20,8,8,mall.googleplex.com,United States,Austin,(not set),Texas,2432,7.199697,2432,5.355147
21,31,22,(direct),United States,Austin,(not set),Texas,2432,7.199697,2432,5.355147
22,3,2,facebook.com,Thailand,Bangkok,(not set),Bangkok,2432,7.199697,2432,5.355147
23,13,13,google,Thailand,Bangkok,(not set),Bangkok,2432,7.199697,2432,5.355147
24,14,10,(direct),Thailand,Bangkok,(not set),Bangkok,2432,7.199697,2432,5.355147
25,1,1,google,United States,Boston,(not set),Massachusetts,2432,7.199697,2432,5.355147
26,4,3,google,United States,Boston,(not set),Massachusetts,2432,7.199697,2432,5.355147
27,5,4,google,United States,Boston,(not set),Massachusetts,2432,7.199697,2432,5.355147
28,7,5,mall.googleplex.com,United States,Boston,(not set),Massachusetts,2432,7.199697,2432,5.355147
29,1,1,(direct),United States,Chicago,(not set),Illinois,2432,7.199697,2432,5.355147
...,...,...,...,...,...,...,...,...,...,...,...
4970,1,1,google,India,Pune,unknown.unknown,Maharashtra,174,3.452507,174,1.000000
4971,1,1,google,United States,San Francisco,unknown.unknown,California,174,3.452507,174,1.000000
4972,1,1,google,United States,San Jose,unknown.unknown,California,174,3.452507,174,1.000000
4973,1,1,baidu,China,not available in demo dataset,unknown.unknown,not available in demo dataset,174,3.452507,174,1.000000
4974,1,1,baidu,China,not available in demo dataset,unknown.unknown,not available in demo dataset,174,3.452507,174,1.000000
4975,1,1,google,China,not available in demo dataset,unknown.unknown,not available in demo dataset,174,3.452507,174,1.000000
4976,1,1,google,India,not available in demo dataset,unknown.unknown,not available in demo dataset,174,3.452507,174,1.000000
4977,1,1,google,India,not available in demo dataset,unknown.unknown,not available in demo dataset,174,3.452507,174,1.000000
4978,1,1,google,India,not available in demo dataset,unknown.unknown,not available in demo dataset,174,3.452507,174,1.000000
4979,1,1,google,Italy,not available in demo dataset,unknown.unknown,not available in demo dataset,174,3.452507,174,1.000000
4980,1,1,google,New Zealand,not available in demo dataset,unknown.unknown,not available in demo dataset,174,3.452507,174,1.000000
4981,1,1,google,Peru,not available in demo dataset,unknown.unknown,not available in demo dataset,174,3.452507,174,1.000000
4982,1,1,google,Turkey,not available in demo dataset,unknown.unknown,not available in demo dataset,174,3.452507,174,1.000000
4983,1,1,google,Turkey,not available in demo dataset,unknown.unknown,not available in demo dataset,174,3.452507,174,1.000000
4984,1,1,google,United Arab Emirates,not available in demo dataset,unknown.unknown,not available in demo dataset,174,3.452507,174,1.000000
4985,1,1,(direct),Netherlands,Amsterdam,upc.nl,North Holland,174,1.000000,174,1.000000
4986,1,1,(direct),Czechia,Prague,uvt.cz,Prague,174,1.000000,174,1.000000
4987,1,1,(direct),Czechia,Prague,uvt.cz,Prague,174,1.000000,174,1.000000
4988,1,1,google,Czechia,Prague,uvt.cz,Prague,174,1.000000,174,1.000000
4989,1,1,google,United Kingdom,not available in demo dataset,vaioni.com,not available in demo dataset,174,1.000000,174,1.000000
4990,1,1,google,United States,not available in demo dataset,verizon.net,not available in demo dataset,174,5.630137,174,1.000000
4991,1,1,google,United States,not available in demo dataset,verizon.net,not available in demo dataset,174,5.630137,174,1.000000
4992,1,1,(direct),United Kingdom,not available in demo dataset,virginm.net,not available in demo dataset,174,3.794118,174,1.000000
4993,1,1,google,United Kingdom,not available in demo dataset,virginm.net,not available in demo dataset,174,3.794118,174,1.000000
4994,1,1,google,Brazil,Sao Paulo,vivozap.com.br,State of Sao Paulo,174,1.600000,174,1.000000
4995,1,1,google,Germany,not available in demo dataset,vodafone-ip.de,not available in demo dataset,174,1.000000,174,1.000000
4996,1,1,google,Portugal,Lisbon,vodafone.pt,Lisbon,174,3.000000,174,1.000000
4997,1,1,google,Portugal,Lisbon,vodafone.pt,Lisbon,174,3.000000,174,1.000000
4998,1,1,google,Portugal,Lisbon,vodafone.pt,Lisbon,174,3.000000,174,1.000000
4999,1,1,google,Netherlands,not available in demo dataset,ziggo.nl,not available in demo dataset,174,1.333333,174,1.000000

In [28]:
q("select A.`geoNetwork.networkDomain`, AVG(`totals.hits`) FROM df A group by 1 order by 2 desc" )

         geoNetwork.networkDomain  AVG(`totals.hits`)
0               electronicbox.net                73.0
1                 distributel.net                67.5
2                       gtech.com                62.0
3              ewe-ip-backbone.de                55.0
4                taiwanmobile.net                55.0
5                      hispeed.ch                43.8
6                   xinwei.com.ni                39.0
7               atrianetworks.net                38.0
8                     time.net.my                35.0
9                   rigidtech.net                34.0
10                      vf.net.nz                30.0
11                    forthnet.gr                29.0
12                  ratkovich.com                29.0
13                 solutionip.com                28.0
14                     telekom.de                28.0
15                   web-pass.com                28.0
16                       lwsd.org                25.0
17                        wind.it                25.0
18                       noaa.gov                24.0
19                   videotron.ca                23.1
20                engeocomprom.ru                23.0
21                    fibianet.dk                23.0
22                 spectrumnet.us                23.0
23                   columbia.edu                21.0
24                 nextgentel.com                21.0
25                 spectrumnet.bg                21.0
26                 stonybrook.edu                21.0
27                  csufresno.edu                20.0
28                  bittel.net.in                19.0
29                        faa.gov                19.0
..                            ...                 ...
953                   versanet.de                 1.0
954               viadelivers.com                 1.0
955                  violin.co.th                 1.0
956                      visa.com                 1.0
957                vodafone-ip.de                 1.0
958                vodafonedsl.it                 1.0
959                     volia.com                 1.0
960                        voo.be                 1.0
961                  voxdsl.co.za                 1.0
962                     vultr.com                 1.0
963                     warnet.cz                 1.0
964                    wateen.net                 1.0
965                  westcall.net                 1.0
966               westgenesee.org                 1.0
967                 whitworth.edu                 1.0
968                  wimaxtigo.bo                 1.0
969                   workday.com                 1.0
970              worldcall.net.pk                 1.0
971  worldwidetechnologygroup.com                 1.0
972                     wrobel.cz                 1.0
973                      wtnet.de                 1.0
974                       xdsl.is                 1.0
975                       xnet.hr                 1.0
976                   zaindata.jo                 1.0
977                   zenmate.com                 1.0
978                 zensystems.dk                 1.0
979                       zeop.re                 1.0
980                    znaniye.ru                 1.0
981                     zol.co.zw                 1.0
982                  zscaler9.net                 1.0

[983 rows x 2 columns]

   year  month  rows  users
0  2016      9  2613   2432
1  2017      1  2209   2041
2  2017      6   178    174

In [14]:
q("""select
   , date
  from df""")

     substr(date,0,5)||"-"||substr(date,5,2)||"-"||substr(date,7,2)      date
0                                            2016-09-02              20160902
1                                            2016-09-02              20160902
2                                            2016-09-02              20160902
3                                            2016-09-02              20160902
4                                            2016-09-02              20160902
5                                            2016-09-02              20160902
6                                            2016-09-02              20160902
7                                            2016-09-02              20160902
8                                            2016-09-02              20160902
9                                            2016-09-02              20160902
10                                           2016-09-02              20160902
11                                           2016-09-02              20160902
12                                           2016-09-02              20160902
13                                           2016-09-02              20160902
14                                           2016-09-02              20160902
15                                           2016-09-02              20160902
16                                           2016-09-02              20160902
17                                           2016-09-02              20160902
18                                           2016-09-02              20160902
19                                           2016-09-02              20160902
20                                           2016-09-02              20160902
21                                           2016-09-02              20160902
22                                           2016-09-02              20160902
23                                           2016-09-02              20160902
24                                           2016-09-02              20160902
25                                           2016-09-02              20160902
26                                           2016-09-02              20160902
27                                           2016-09-02              20160902
28                                           2016-09-02              20160902
29                                           2016-09-02              20160902
...                                                 ...                   ...
4970                                         2017-06-23              20170623
4971                                         2017-06-23              20170623
4972                                         2017-06-23              20170623
4973                                         2017-06-23              20170623
4974                                         2017-06-23              20170623
4975                                         2017-06-23              20170623
4976                                         2017-06-23              20170623
4977                                         2017-06-23              20170623
4978                                         2017-06-23              20170623
4979                                         2017-06-23              20170623
4980                                         2017-06-23              20170623
4981                                         2017-06-23              20170623
4982                                         2017-06-23              20170623
4983                                         2017-06-23              20170623
4984                                         2017-06-23              20170623
4985                                         2017-06-23              20170623
4986                                         2017-06-23              20170623
4987                                         2017-06-23              20170623
4988                                         2017-06-23              20170623
4989                                         2017-06-23              20170623
4990                                         2017-06-23              20170623
4991                                         2017-06-23              20170623
4992                                         2017-06-23              20170623
4993                                         2017-06-23              20170623
4994                                         2017-06-23              20170623
4995                                         2017-06-23              20170623
4996                                         2017-06-23              20170623
4997                                         2017-06-23              20170623
4998                                         2017-06-23              20170623
4999                                         2017-06-23              20170623

[5000 rows x 2 columns]